@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 64% 98%;
    --foreground: 90 8% 10%;
    --card: 60 64% 98%;
    --card-foreground: 90 8% 10%;
    --popover: 60 64% 98%;
    --popover-foreground: 90 8% 10%;
    --primary: 106 70% 25%;
    --primary-foreground: 0 0% 100%;
    --secondary: 100 12% 34%;
    --secondary-foreground: 90 8% 10%;
    --muted: 83 19% 87%;
    --muted-foreground: 93 7% 26%;
    --accent: 60 20% 93%;
    --accent-foreground: 90 4% 18%;
    --destructive: 0 75% 42%;
    --destructive-foreground: 0 0% 100%;
    --border: 83 19% 87%;
    --input: 83 19% 87%;
    --ring: 103 85% 76%;
    --radius: 0.5rem;
  }

  .dark {
    --background-dark: 60 64% 98%;
    --foreground-dark: 90 8% 10%;
    --card-dark: 60 64% 98%;
    --card-foreground-dark: #1a1c18;
    --popover-dark: 60 64% 98%;
    --popover-foreground-dark: 90 8% 10%;
    --primary-dark: 106 70% 25%;
    --primary-foreground-dark: 0 0% 100%;
    --secondary-dark: 100 12% 34%;
    --secondary-foreground-dark: 90 8% 10%;
    --muted-dark: 83 19% 87%;
    --muted-foreground-dark: 93 7% 26%;
    --accent-dark: 60 20% 93%;
    --accent-foreground-dark: 90 4% 18%;
    --destructive-dark: 0 75% 42%;
    --destructive-foreground-dark: 0 0% 100%;
    --border-dark: 83 19% 87%;
    --input-dark: 83 19% 87%;
    --ring-dark: 103 85% 76%;
    --radius-dark: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
